FIREBASE_PROJECT_ID=ganesh-chathruti
# Use either the JSON value or a path to a downloaded service-account file.
# FIREBASE_SERVICE_ACCOUNT_KEY={"type":"service_account",...}
# FIREBASE_SERVICE_ACCOUNT_PATH=./firebase-service-account.json
PORT=5000